/* @import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap'); */
@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap'); */

:root {
  /* дефолтные (очень тёмные) переменные */
  --background: #0a0a0a;
  --foreground: #ededed;
  --accent: #ff0000; /* не используется в бизнес-теме */
}

body {
  background: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s ease-in-out 0.1s;

  background-image: url('/dobriy/cyberorchad1.webp'); 
  background-position: center center;      /* Центрирует изображение */
  background-repeat: no-repeat;            /* Без повторений */
  background-size: cover;                  /* Растягивает на весь экран */
  background-attachment: scroll;           /* Двигается со страницей */
  
  font-family: var(--font-sans);
}



/* примеры использования */
.btn-accent {
  background-color: var(--accent);
  color: var(--foreground);
}
.btn-accent:hover {
  filter: brightness(1.1);
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground); 
  --font-sans: 'Orbitron', sans-serif;
   /* var(--font-geist-sans);  */

  --font-mono: 'Courier New', monospace; 
   /* var(--font-geist-mono);  */
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}



@layer utilities {
  @keyframes pulse-glow {
    0%, 100% {
      box-shadow: 0 0 5px #1eff00, 0 0 10px #1eff00;
    }
    50% {
      box-shadow: 0 0 20px #1eff00, 0 0 40px #1eff00;
    }
  }
/*#00ff00*/
  .animate-pulse-glow {
    animation: pulse-glow 1.5s ease-in-out infinite;
  }
  .animate-pulse-glow-delayed {
    animation: pulse-glow 2s ease-in-out infinite 0.5s;
  }
  .animate-pulse-glow-delayed-long {
    animation: pulse-glow 3.5s ease-in-out infinite 1s;
  }
}